
<nav class="mdl-navigation">
  {{#each content}}
    <a class="mdl-navigation__link mdl-color-text--teal-50" href="">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">{{icon}}</i>
      {{label}}
    </a>
  {{/each}}
</nav>