
<nav class="demo-navigation mdl-navigation mdl-color--indigo-red-800">
  {{#each content}}
    <a class="mdl-navigation__link" href="">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">{{icon}}</i>
      {{label}}
    </a>
  {{/each}}
</nav>